* {
	margin: 0em;
	padding: 0em;
}

body {
	/*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
	/*color: #000000;*/
	color: #333333;
	background-color: #FFFFFF;
	font-size: 100%;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


	letter-spacing: 0.025em;
	text-shadow: 0 0 1em transparent, 1px 1px 1.2px rgba(0, 0, 0, 0.004);

	overflow: visible;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: auto auto 1fr auto;
	/*gap: 0px 0px;*/
	grid-template-areas:
	". header ."
	". aside ."
	"main main main"
	"footer footer footer";
	justify-items: center;
	align-content: space-evenly;
	z-index: 0;
}

a {
	color: #337ab7;
	text-decoration: underline;
}

footer div a {
	margin: 0 1em;
}


p, blockquote, ul, ol, dl, table, pre {
	margin: 0 0 1em 0;
}


ul, ol {
	padding-left: 2em;
}

li + li {
	margin-top: 0.25em;
}

h1 {
	padding-bottom: 0.3em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	padding: 0.4em;
	font-size: 2em;
	border-bottom: 0.1em solid #eee;
}

h2 {
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 0.1em solid #eee;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 1.5em;
	margin-bottom: 1em;
	font-weight: 600;
	line-height: 1.25;
}

/*
em {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
*/


body > header {
	grid-area: header;
	/*! display: flex; */
	background-color: #fff;
	border-radius: 0.2em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0.4em;
	/*position: fixed;
	top: 0;
	left: 0;*/
}

#Logo {
	height: 2em;
	margin: 0.2em;
	/* margin-bottom: -1.5em; */
}

body > aside {
	grid-area: aside;
	margin: 0.4em;
}
body > aside img {
	margin: 1em;
	height: 6em;
}


body > footer {
	grid-area: footer;
	margin: 0.4em;
}




main {
	grid-area: main;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	line-height: 1.5;
	word-wrap: break-word;
	/*padding-top: 2.5em;*/
	padding-bottom: 2.5em;
	padding-right: 1em;
	padding-left: 1em;
	margin-right: auto;
	margin-left: auto;

	max-width: 48em;
}

main > footer {
	margin-top: 2em;
	border-top: 0.1em solid #eee;
	display: flex;
	justify-content: center;
	align-items: center;
}


main iframe {
	width: 100%;
	/* height: 100%; */
	height: 50em;
	/* min-width: 47em;
	min-height: 50em; */
}


blockquote {
    padding: 0 1em;
    color: #777;
    border-left: 0.25em solid #ddd;
}



.alert {
	padding:1em;
	margin-bottom:1.2em;
	border:0.1em solid transparent;
	border-radius:0.25em;
	/*padding:15px;
	margin-bottom:20px;
	border:1px solid transparent;
	border-radius:4px;*/
}

.alert h4 {
	margin-top:0;
	color:inherit;
}

.alert .alert-link {
	font-weight:700;
}

.alert > p, .alert > ul {
	margin-bottom:0;
}

.alert > p+p {
	margin-top:0.33em;
}

.alert-dismissable, .alert-dismissible {
	padding-right:2em;
}

.alert-dismissable .close,.alert-dismissible .close{
	position:relative;
	top:-0.1em;
	right:-1.4em;
	color:inherit;
}

.alert-success {
	color:#3c763d;
	background-color:#dff0d8;
	border-color:#d6e9c6;
}

.alert-success hr {
	border-top-color:#c9e2b3;
}

.alert-success .alert-link {
	color:#2b542c;
}

.alert-info {
	color:#31708f;
	background-color:#d9edf7;
	border-color:#bce8f1;
}

.alert-info hr {
	border-top-color:#a6e1ec;
}

.alert-info .alert-link {
	color:#245269;
}

.alert-warning {
	color:#8a6d3b;
	background-color:#fcf8e3;
	border-color:#faebcc;

}

.alert-warning hr {
	border-top-color:#f7e1b5;
}

.alert-warning .alert-link {
	color:#66512c;
}

.alert-danger {
	color:#a94442;
	background-color:#f2dede;
	border-color:#ebccd1;
}

.alert-danger hr {
	border-top-color:#e4b9c0;
}

.alert-danger .alert-link {
	color:#843534;
}






form {
	/* background-color: green; */
	--form-bg-color: #d1d5db;
}

form * {
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, border-color, color, opacity, box-shadow, transform, stroke;
}

form fieldset {
	border: 0 solid white;
}

form label {
	display: flex;
	align-items: stretch;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: 100%;
}

form label > span {
	background-color: var(--form-bg-color);
	padding-left: 1em;
	padding-right: 1em;
	flex: 0 0 auto;
	font-size: 0.8em;
	display: flex;
	align-items: center;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0em;
}

form label > input,select {
	border: 0.1em solid var(--form-bg-color);
	width: 100%;
	flex: 1 1 auto;
	border-top-left-radius: 0em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0em;
	border-bottom-right-radius: 0.5em;
	height: 3em;
	line-height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	background-color: white;
}

form .label-checkbox > span {
	flex: 1 1 auto;
	padding-left: 0.4em;
	padding-right: 1em;
	font-size: 1em;
	background-color: white;
	line-height: 2em;
	border: 0px solid white;
	display: inline;
}

form .label-checkbox > input {
	width: 2em;
	flex: 0 0 auto;
	border: 0px solid white;
	height: 2em;
}


form input[type=submit] {
	padding-left: 1.5em;
	padding-right: 1.5em;
	margin: 1em;
	background-color: #4d7c0f;
	border: 0.1em solid #dddddd;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	font-size: 1em;
	height: 3em;
	line-height: 3em;
	text-align: center;
	color: white;
	cursor: pointer;
	user-select: none;
	font-weight: bold;
}

form input[type=submit]:hover {
	background-color: #6d9c2f;
}

form input[type=submit]:active {
	background-color: #6d2f9c;
}
